
			

            header{

            	background: #BBBBBB;
            }


			body{

				background: blueviolet;
			}


			p{ 
				text-align: center; background-color: #cccccc;

			}
			h1{ 
				text-align: center; background-color:(255, 55, 140);

			}
			
			em{
				color: red;
			}
			strong{
				
				color: blueviolet;
			}